

@font-face {
    font-family: Norse;
    font-weight: bold;
    src: url('Norse-Bold.otf');
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrapper{
    display: flex;
    align-items: center;
    height: 700px;
    max-width: 90%;
    border-radius: 1rem;
    box-shadow: 0 0 15px 2px #DDD;
    overflow:hidden

}
.imageside{
    background-image: url(https://images.unsplash.com/photo-1585202900225-6d3ac20a6962?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80);
    background-repeat: no-repeat;
    height: 100%;
    width: 35%;
}

.insideImgBar{
    margin-top: 30%;
    background: rgba(0,0,0,.5);
    height: 150px;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: Norse;
    font-size: 3rem;
}
.insideImgBar img{
    max-height: 100%;
}

main{
    height: 100%;
    max-width: 65%;
    background-color: #FAFAFA;
}

.description{
    padding: 3rem 2rem;
    display: flex;
    flex-direction: column;
    height: 30%;
    justify-content: space-around;
    font-size: 1.25rem;
    font-weight: 600;
    width: 90%;
}

form{
    height: 70%;
}
.formContainer{
    background-color: #fff;
    padding:2rem 2rem;
    box-shadow:0px 3px 5px -2px rgba(0,0,0,.5);
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 3rem;
}

.formContainer p{
    font-size: 1.25rem;
    font-weight: 600;
}

fieldset{
    border:none;
    display:flex;
    gap:3rem;
}

.cell{
    display:flex;
    flex-direction:column;
    text-transform: uppercase;
    width:30%;
}

.cell label{
    font-size: 0.7rem;
    font-weight: 500;
}

form input{
    border:1px solid #d6d9dc;
    border-radius: 4px;
    padding: 7px;
    font-size: 14px;
}

.buttonContainer{
    padding-left:2rem;
}
.buttonContainer a{
    color:#596D48;
    text-decoration: none;
}
button{
    background-color: #596D48;
    border:none;
    border-radius: 6px;
    padding:10px 40px;
    color:white;
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 2rem;
}
